/* ==================== SECTIONS ==================== */

/* ========== MAIN ========== */

.blog-cards-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.blog-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    border: 2px solid var(--color-white);
    text-align: center;
}

.blog-title-heading-container, .blog-content-paragraph-container, .blog-date-created-paragraph {

    border-bottom: 2px solid var(--color-white);

}

.blog-content-paragraph {
    font-size: var(--text-base);
}

.blog-details-container {
    border-top: 2px solid var(--color-white);
}

.blog-date-created-paragraph, .blog-last-modified-time-paragraph {
    font-size: var(--text-lg);
}