/* ==================== SECTIONS ==================== */

/* ========== MAIN ========== */

.blog-card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--color-white);
    padding: 3rem;
}