:root {
    --write-your-blog-header-container-height: 100px;
    --blog-title-input-height: 70px;
}

/* ==================== SECTIONS ==================== */

.main-container {
    gap: 0rem;
}

/* ========== HEADER ========== */

/* ---------- Navigation  ---------- */

.write-your-blog-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--write-your-blog-header-container-height);
    border: 2px solid var(--color-white);
}

.blog-title-input, .blog-content-textarea {
    border: 2px solid var(--color-white);
}

.blog-title-input {
    width: 100%;
    height: var(--blog-title-input-height);
}

.navbar {
    border: none;
    padding: 2rem;
}

.nav-link-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.back-cancel-link-container {
    display: flex;
    gap: 1rem;
}

/* ========== HEADER ========== */

.blog-content-textarea {
    width: 100%;
    height: calc( 100vh - ( var( --blog-title-input-height) + var(--write-your-blog-header-container-height) ) );
    padding: 2rem;
    text-align: center;
}